<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Code Breaker Login</title>
</head>
<body class = "flex">
    <div class = "block">
        <h2>New User</h2>
        <form action = "/user/register" method = "post">
            <div class = "error">
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class = "entry">
                <label for = "user_name"> User Name: </label>
                <input type = "text" name = "user_name">
            </div>
            <div class = "entry">
                <label for = "email"> Email: </label>
                <input type = "text" name = "email">
            </div>
            <div class = "entry">
                <label for = "password"> Password: </label>
                <input type = "password" name = "password">
            </div>
            <div class = "entry">
                <label for = "confirm_password"> Confirm Password: </label>
                <input type = "password" name = "confirm_password">
            </div>
            <div>
                <input type = "submit" name = "Register">
            </div>
        </form>
    </div>
    <div class = "block">
        <h2>Login User</h2>
        <form action = "/user/login" method = "post">
            <div class = "error">
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class = "entry">
                <label for = "email"> Email: </label>
                <input type = "text" name = "email">
            </div>
            <div class = "entry">
                <label for = "password"> Password: </label>
                <input type = "password" name = "password">
            </div>
            <div>
                <input type = "submit" name = "Login">
            </div>
        </form>
    </div>
</body>
</html>