<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Player Profile</title>
</head>
<body class = "block">
    <div class = "header">
        <div class = "title">
            <h1> {{user.user_name}} </h1>
        </div>
        <div class = "nav">
            <a href = "/menu"> Menu </a>
            <a href = "/logout" class = "btn"> Logout </a>
        </div>
    </div>
    <div class = "content">
        
    </div>
</body>
</html>